<section>
    <nav id="hamburger-menu">
        <div class="font-semibold text-xl text-center pt-5">Akos Bartus</div>
        <div id="menuToggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="#"><li>My Story</li></a>
                <a href="#"><li>Workflow</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="#"><li>Experience</li></a>
                <a href="#"><li>Projects</li></a>
            </ul>
        </div>
    </nav>
    <nav 
    id="main-menu"
    role="navigation" 
    class="mx-7 my-4 flex justify-between items-center">
        <h3 class="font-semibold text-2xl">Akos Bartus</h3>
        <span class="flex gap-3">
            <button>My story</button>
            <button>Workflow</button>
            <button>Contact</button>
            <button>Experience</button>
            <button>Projects</button>
        </span>
    </nav>
</section>