<body data-theme="lofi">
  <section class="flex flex-col justify-center items-center">
    <h3 class="p-10">MY PROJECTS</h3>
    <div class="flex justify-between items-center project-card">
      <div class="small-screen">
        <img src="../../assets/images/stock.jpg" alt="" />
    </div>
      <div class="small-screen">
        <h2>CRUD TODO</h2>
        <h3>TECH: HTML, CSS, ANGULAR, TYPESCRIPT, DOTNET, MSSQL</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit unde
          consequatur blanditiis ullam est. Tempora alias id dolorem. Explicabo
          vitae aliquid quis perferendis expedita iste sed saepe neque at quam.
        </p>
        <button>Github</button>
      </div>
    </div>
    <div
      class="flex flex-row-reverse justify-between items-center project-card"
    >
      <div class="flex justify-end small-screen">
        <img src="../../assets/images/stock.jpg" alt="" />
      </div>
      <div class="small-screen">
        <h2>AUTHENTICATION</h2>
        <h3>TECH: HTML, CSS, ANGULAR, OATUH, TYPESCRIPT</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
          dolorem sint, provident itaque corrupti, cumque voluptatum, non
          tempore esse accusamus officiis. Itaque nisi repudiandae laudantium
          maiores explicabo aut magnam obcaecati!
        </p>
        <button>Github</button>
      </div>
    </div>
    <div class="flex justify-between items-center project-card">
      <div class="small-screen">
        <img src="../../assets/images/stock.jpg" alt="" />
      </div>
      <div class="small-screen">
        <h2>WEATHER API</h2>
        <h3>TECH: HTML, CSS, ANGULAR, TYPESCRIPT</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas quis,
          esse quia harum dicta, eaque ut, aspernatur nam quam quae rem
          consectetur a temporibus cum placeat totam rerum assumenda incidunt!
        </p>
        <button>Github</button>
      </div>
    </div>
  </section>
</body>
