<body data-theme="luxury">
  <section class="flex justify-around">
    <div class="workflow-right flex flex-col gap-5">
      <p class="font-semibold">MY WORKFLOW</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="currentColor"
        class="bi bi-arrow-return-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"
        />
      </svg>
    </div>
    <div class="hidden small-screen">
        <p>MY WORKFLOW</p>
    </div>
    <div class="workflow-left">
        <ol class="flex flex-col gap-10">
            <li>REQUIREMENT ANALYSIS AND PLANNING</li>
            <li>CODING</li>
            <li>TESTING</li>
            <li>REVIEW AND DEBUGGING</li>
            <li>DOCUMENTATION</li>
            <li>DEPLOYMENT AND MAINTENANCE</li>
        </ol>
    </div>
  </section>
</body>
