<body>
  <section class="flex justify-around gap-5">
    <div class="main-pic">
      <img
        src="../../assets/images/Akos_profpics.jpg"
        alt=""
        class="rounded-md border-2 border-black"
      />
    </div>
    <div>
      <h3>MY SKILLS</h3>
      <div class="parent">
        <div class="javascript tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
          />
          <p>JAVASCRIPT</p>
        </div>
        <div class="typescript tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
          />
          <p>TYPESCRIPT</p>
        </div>
        <div class="tailwind tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
          />
          <p>TAILWINDCSS</p>
        </div>
        <div class="html tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
          />
          <p>HTML</p>
        </div>
        <div class="css tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
          />
          <p>CSS</p>
        </div>
        <div class="sass tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
          />
          <p>SASS</p>
        </div>
        <div class="node-js tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
          />
          <p>NODEJS</p>
        </div>
        <div class="angular tech-container">
          <img
            class="tech-img"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
          />
          <p>ANGULAR</p>
        </div>
      </div>
    </div>
  </section>
</body>
