<section data-theme="lofi">
  <div class="grid-parent mx-20 my-14">
    <header class="title">
      <span class="py-2 px-4 font-semibold border rounded-full border-black">
        Junior
      </span>
    </header>
    <article class="intro mb-5 font-semibold">
      <ngx-typed-js
        [strings]="['Frontend Developer.']"
        [typeSpeed]="30"
        [showCursor]="false"
      >
        <h1 class="typing"></h1>
      </ngx-typed-js>
    </article>
    <div class="description flex gap-10">
      <p>
        I'm Ákos Bartus, actively seeking a new position in frontend
        development. My goal is to enhance my skills while leveraging my ability
        to assess and address challenges effectively. With proficiency in HTML,
        CSS, and JavaScript, I'm eager to contribute to dynamic teams and drive
        impactful solutions in the tech industry.
      </p>
    </div>
    <aside class="profile-image p-16">
      <img
        src="../../assets/images/Akos_profpics.jpg"
        alt=""
        class="rounded-md border-2 border-black main-pic shadow-[10px_10px_30px_0px_rgba(0,0,0,0.4)]"
      />
    </aside>
  </div>
</section>
